build/index.html
<!DOCTYPE html>
<html>
  <head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Awesome Description Here">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <title>MyPortfolio | А. В. Судничников</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div style="height: 0; width: 0; position: absolute; visibility: hidden;"><!-- inject:svg -->
<!-- endinject -->
    </div>
    <div class="container">
      <div class="row">
        <div class="medium-offset-1 large-offset-2 small-12 medium-10 large-8 columns">
          <div class="main-form">
            <div class="main-form-part-one">
              <div class="row">
                <div class="small-12 medium-4 large-3 columns">
                  <div class="main-form-avatar-area"><img data-interchange="[images/avatar-small.png, large],[images/avatar-large.png, small]" width="100%"></div>
                </div>
                <div class="small-12 medium-8 large-9 columns">
                  <div class="main-form-information-field">ИМЯ: АЛЕКСЕЙ</div>
                  <div class="main-form-information-field">ГОД РОЖДЕНИЯ: 1988</div>
                  <div class="main-form-information-field">ГОРОД: СЛЮДЯНКА (ИРКУТСКАЯ ОБЛАСТЬ)</div>
                  <div class="main-form-information-field">E-MAIL: ALSDEW@YA.RU, ТЕЛЕФОН: +79246063889</div>
                </div>
                <div class="main-form-stamp"><img src="images/stamp.png"></div>
              </div>
            </div>
            <div class="main-form-part-two">
              <p>Навыки</p>
              <div class="row">
                <div class="small-12 medium-6 large-3 columns">
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="HTML5" value="61"><span class="main-form-checkbox-custom"></span><span class="main-form-label">HTML5</span>
                    </label>
                  </div>
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="CSS3" value="51"><span class="main-form-checkbox-custom"></span><span class="main-form-label"> CSS3</span>
                    </label>
                  </div>
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="БЭМ" value="21"><span class="main-form-checkbox-custom"></span><span class="main-form-label"> БЭМ</span>
                    </label>
                  </div>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="SASS" value="63"><span class="main-form-checkbox-custom"></span><span class="main-form-label">SASS</span>
                    </label>
                  </div>
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="LESS" value="59"><span class="main-form-checkbox-custom"></span><span class="main-form-label">LESS</span>
                    </label>
                  </div>
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="GULP" value="38"><span class="main-form-checkbox-custom"></span><span class="main-form-label">GULP</span>
                    </label>
                  </div>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="VANILLAJS" value="30"><span class="main-form-checkbox-custom"></span><span class="main-form-label">VANILLAJS</span>
                    </label>
                  </div>
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="ANGULAR" value="10"><span class="main-form-checkbox-custom"></span><span class="main-form-label">ANGULAR</span>
                    </label>
                  </div>
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="JQUERY" value="12"><span class="main-form-checkbox-custom"></span><span class="main-form-label">JQUERY</span>
                    </label>
                  </div>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="GIT" value="31"><span class="main-form-checkbox-custom"></span><span class="main-form-label">GIT</span>
                    </label>
                  </div>
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="FOUNDATION" value="24"><span class="main-form-checkbox-custom"></span><span class="main-form-label">FOUNDATION</span>
                    </label>
                  </div>
                  <div class="main-form-checkbox-group">
                    <label>
                      <input class="main-form-checkbox" type="checkbox" name="BOOTSTRAP" value="65"><span class="main-form-checkbox-custom"></span><span class="main-form-label">BOOTSTRAP</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-form-part-three">
              <div class="row">
                <div class="small-12 medium-6 large-6 columns">
                  <canvas class="meter-canvas" id="MeterCanvas" height="100%" width="100%"></canvas>
                </div>
                <div class="small-12 medium-6 large-6 columns">
                  <div class="main-form-title">Мой уровень владения</div>
                  <div class="main-form-title" id="skills-table"></div>
                  <div class="main-form-digit-label" id="digital-table">954</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="js/vendors.js"></script>
    <script src="js/main.js"></script>
    <script src="js/_portfolio.js"></script>
  </body>
</html>

src/index.pug
include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('А. В. Судничников')
    include pug/styles.pug
  body
    include pug/svg.pug

    div.container
      div.row
        div.medium-offset-1.large-offset-2.small-12.medium-10.large-8.columns
          div.main-form
            div.main-form-part-one
              div.row
                div.small-12.medium-4.large-3.columns
                  div.main-form-avatar-area
                    img(data-interchange="[images/avatar-small.png, large],[images/avatar-large.png, small]" width="100%")
                div.small-12.medium-8.large-9.columns
                  div.main-form-information-field ИМЯ: АЛЕКСЕЙ
                  div.main-form-information-field ГОД РОЖДЕНИЯ: 1988
                  div.main-form-information-field ГОРОД: СЛЮДЯНКА (ИРКУТСКАЯ ОБЛАСТЬ)
                  div.main-form-information-field E-MAIL: ALSDEW@YA.RU, ТЕЛЕФОН: +79246063889
                div.main-form-stamp
                  img(src="images/stamp.png")
            div.main-form-part-two
              p Навыки
              div.row
                div.small-12.medium-6.large-3.columns
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="HTML5" value="61")
                      span.main-form-checkbox-custom
                      span.main-form-label HTML5
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="CSS3" value="51")
                      span.main-form-checkbox-custom
                      span.main-form-label  CSS3
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="БЭМ" value="21")
                      span.main-form-checkbox-custom
                      span.main-form-label  БЭМ
                div.small-12.medium-6.large-3.columns
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="SASS" value="63")
                      span.main-form-checkbox-custom
                      span.main-form-label SASS
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="LESS" value="59")
                      span.main-form-checkbox-custom
                      span.main-form-label LESS
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="GULP" value="38")
                      span.main-form-checkbox-custom
                      span.main-form-label GULP
                div.small-12.medium-6.large-3.columns
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="VANILLAJS" value="30")
                      span.main-form-checkbox-custom
                      span.main-form-label VANILLAJS
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="ANGULAR" value="10")
                      span.main-form-checkbox-custom
                      span.main-form-label ANGULAR
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="JQUERY" value="12")
                      span.main-form-checkbox-custom
                      span.main-form-label JQUERY
                div.small-12.medium-6.large-3.columns
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="GIT" value="31")
                      span.main-form-checkbox-custom
                      span.main-form-label GIT
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="FOUNDATION" value="24")
                      span.main-form-checkbox-custom
                      span.main-form-label FOUNDATION
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="BOOTSTRAP" value="65")
                      span.main-form-checkbox-custom
                      span.main-form-label BOOTSTRAP

            div.main-form-part-three
              div.row
                div.small-12.medium-6.large-6.columns
                  canvas.meter-canvas#MeterCanvas(height='100%' width='100%')
                div.small-12.medium-6.large-6.columns
                  div.main-form-title Мой уровень владения
                  div.main-form-title#skills-table
                  div.main-form-digit-label#digital-table 954
    include pug/scripts.pug
